@import "tailwindcss";

@theme {
  --font-poppins: Poppins, sans-serif;
  --color-shop-light-pink: #fcf0e4;
  --color-shop-light-green: #3b9c3c;
  --color-shop-dark-green: #063c28;
  --color-btn-dark-green: #063d29;
  --color-light-bg: #f6f6f6f6u;
  --color-shop-orange: #fb6c08;
  --color-shop-dark: #151515;
  --color-shop-light: #52525b;
  --color-light-orange: #fca99b;
  --color-light-blue: #7688db;
  --color-dark-blue: #6c7fd8;
  --color-dark-text: #686e7d;
  --color-light-bg: #f8f8fb;
  --color-dark-red: #f02757;
  --color-light-text: #ababab;
  --color-light-green: #93d991;
  --color-product-bg: #f1f3f8;
}
